body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
    margin: center;
}
h1{
    margin: center;
    text-align: center;
    color: white;
}
p .andar{
    margin-left: center;
    text-align: center;
    
}
#fim{
    float: button;
    margin: center;
    text-align: center;
    font: normal 25pt arial;
} // preciso resolver o CSS tbm.
#linha {
    width: 270px;
    height: 100px;
    background: rgba(0, 255, 255, 0.493);
    margin: auto;
    border-radius: 10px;
    
    
}
.coluna{
    float: left;
    color: white;
    font: normal 15pt Arial;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
}    
#div1{
    width: 50px;
    height: 80px;
    background: rgb(255, 0, 179);
    float: left;
    margin-left: 10px;
    
}
#div2{
    width: 50px;
    height: 80px;
    background: rgb(255, 0, 179);
}
#div3{
    width: 50px;
    height: 80px;
    background: rgb(255, 0, 179);
}
#div4{
    width: 50px;
    height: 80px;
    background: rgb(255, 0, 179);
}
#div5{
    width: 50px;
    height: 80px;
    background: rgb(255, 0, 179);
}
#linha2 {
    width: 270px;
    height: 100px;
    background: rgba(0, 255, 255, 0.493);
    margin: auto;
    border-radius: 10px;
}   
.coluna2{
    float: left;
    color: white;
    font: normal 15pt Arial;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
} 
#div6{
    width: 50px;
    height: 80px;
    background: rgb(255, 0, 179);
    float: left;
    margin-left: 10px;
}
#div7{
    width: 50px;
    height: 80px;
    background: rgb(255, 0, 179);
}
#div8{
    width: 50px;
    height: 80px;
    background: rgb(255, 0, 179);
}
#div9{
    width: 50px;
    height: 80px;
    background: rgb(255, 0, 179);
}
#div10{
    width: 50px;
    height: 80px;
    background: rgb(255, 0, 179);
}
